body
{ direction:rtl;
  font-family: Calibri, Verdana; 
  MARGIN-LEFT: 10px;
  MARGIN-RIGHT: 10px;
  font-size: 22px;
  line-height: 1.5;
  color: #222222;
  text-align: justify;  
}
h1{
  font-family: Calibri, Verdana; 
  font-size: 42px;
  color: #222222;

}
.k
{
  color: royalblue;
  font-weight:600;
}

.i
{
  color: darkslateblue;
}
.s
{
  color:green;
  font-weight:600;
}

.c
{
  color: forestgreen;
}
.comment
{
  color: forestgreen;
}
.div-code{
  font-family: 'Consolas','Courier New';
  font-size: 17px;
  color: black;
  direction:ltr;
  width: 90%;
  text-align: left; 
  border: 1px solid #C0C0C0;
  padding: 10px;
}
pre
{
  padding-left:initial;
  font-family: 'Consolas','Courier New';
  direction: ltr;
  color: black;
  font-size:large;
  font-size: 17px;
  text-align: left; 
}
code
{
  padding-left:initial;
  font-family: 'Consolas','Courier New';
  direction: ltr;
  color: black;
  font-size:large;
  font-size: 17px;
  text-align: left; 
}
.div-note{
  width: 90%;
  background-color: #F0F3FB;
  text-align: justify;
  padding: 10px;
  border: 1px solid #C0C0C0;
}

.div-article{
  text-align: justify;
  width: 70%;
  background-color: white;
  padding: 10px;
}

A {
	COLOR: #005588; TEXT-DECORATION: none;
	text-align: left;
}
A:visited {
	COLOR: #005588; TEXT-DECORATION: none
}
A:unknown {
	
}
A:hover {
	COLOR: #ff8000; TEXT-DECORATION: none
}

.post {
  margin-bottom: 4em;
  text-align: justify;
}


.post-header {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

.post-title{
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;  
}
.post-date {
  color: #8a8a8a;
}

